.boxing{
    display: flex;
}
.postbox{
    border: 2px solid black;
    width: 700px;
    padding: 10px;
}
.postdetails{
    border: 2px solid yellowgreen;
    /*width: fit-content;*/
    padding: 10px;
    max-width: 350px;
}
